.home{
    background-color: rgb(20, 45, 119);
    background-image: url(../../../assets/road.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 130px;
    background-size: contain;
}

.container{
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    border-radius: 28px;
}

.container-toogle{
    margin-top: 26px;
    text-align: center;
    border-radius: 14px;
    background-color: rgb(245, 245, 245);
}

.container-search{
    margin-top: 26px;
    border-radius: 14px;
    background-color: rgb(245, 245, 245);
    padding: 30px;
    p {
        display: inline;
        margin-left: 4px;
        margin-right: 4px;
    }
    select{
        border-radius: 6px;
    }
    .station-input{
        margin-top: 12px;
        margin-bottom: 14px;
        background-color: rgb(255, 255, 255) !important;
        border-radius: 8px;
        border: 1px solid;
        border-color: rgb(134, 134, 134);
        width: 250px;
        padding : 9px;
        color: rgb(134, 134, 134);

    }
    .text-input{
        border: solid 1px;
        border-color: rgb(134, 134, 134);
        border-radius: 8px;
        margin-top: 12px;
        padding: 8px;
        color: rgb(134, 134, 134);
        width: 98%;
        margin-bottom: 12px;
    }
    .search-button{
        border: none;
        border-radius : 8px;
        background-color: rgb(234, 210, 0);
        padding: 8px 30px 8px 30px ;
        color: rgb(255, 255, 255);
        font-weight: 500;
        width: 100%;
    }
}
.bottom-input {
    margin-top: 12px;
}

h2{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.enterprise-contract{
    width: 120px;
    display: block;
    p{
        font-size: 12px;
    }
}

.offers{
    padding-bottom: 60px;
    h1{
        margin-top: 60px;
        margin-left: 90px;
        margin-bottom: 40px;
        text-align: justify;
        font-size: 20px;
        color: rgb(20, 45, 119);
        font-weight: 600;
    }
    h3{
        margin-left: 90px;
        margin-bottom: 40px;
        text-align: justify;
        font-size: 16px;
        font-weight: 600;
    }
    .row{
        margin-left: 5%;
        margin-right: 5%;
    }
    .col-lg-3{
        padding-left: 60px;
    }
    .special-offers-1{
        cursor: pointer;
        background-image: url(../../../assets/sommer.svg);
        width: 236px;
        height: 236px;
        padding: 20px;
    }
    .special-offers-2{
        cursor: pointer;
        background-image: url(../../../assets/urlaub.svg);
        width: 236px;
        height: 236px;
        padding: 20px;
    }
    .special-offers-3{
        cursor: pointer;
        background-image: url(../../../assets/umzug.svg);
        width: 236px;
        height: 236px;
        padding: 20px;
    }
    .special-offers-4{
        cursor: pointer;
        background-image: url(../../../assets/elektro.svg);
        width: 236px;
        height: 236px;
        padding: 20px;
    }
    .quadrat{
        background-color: rgb(234, 210, 0);
        width: 60px;
        height: 60px;
        border-radius: 10px;
        .quadrat-reduc{
            p{
                font-size: 10px;
                padding: 4px;
                margin-bottom: 4px;
            }
        }
    }
}

.flotte{
    .first{
        margin-left: 6%;
    }
    img {
        margin-bottom : 30px;
        margin-right: 40px;
    }
}