<div class="home">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
            <div class="container">
                <h2>Où souhaitez-vous aller aujourd'hui ?</h2>
                <div class="container-toogle">
                    <div class="toogle">
                        <button class="button-left"><p>Autos</p></button>
                        <button class="button-right"><p>Utilitaires</p></button>
                    </div>
                </div>
                <div class="container-search">
                    <div class="row">
                        <div class="col-lg-7">
                            <input class="form-check-input" (change)="ShowOrHideField()" type="checkbox" value="">
                            <p>Station de retour identique</p>
                            <input class="text-input" type="text" placeholder="Station de départ">
                            <input class="text-input" type="text" *ngIf="isShowed" placeholder="Station de retour">
                            <div class="bottom-input">
                                <input class="form-check-input" (change)="ShowOrHide()" type="checkbox" value="">
                                <p>Contrat entreprise négocié</p>
                            </div>
                            <div *ngIf="isDisplayed" class="enterprise-contract">
                                <input type="text" class="text-input">
                                <p>Max. 10 caractères</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <p>Vous avez</p>
                            <select>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option selected>25+</option>
                            </select>
                            <p>ans</p>
                            <input class="text-input" type="datetime-local" value="2024-01-01T09:30">
                            <input class="text-input" type="datetime-local" value="2024-01-01T17:00">
                            <div class="bottom-input">
                                <button routerLink="reservation/:idReservation" class="search-button">Rechercher</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="assets/auto-home.svg">
        </div>
    </div>  
</div>
<div class="offers">
    <h1>Toutes nos offres du moment</h1>
    <div class="row">
        <div class="col-lg-3">
            <div class="special-offers-1">
                <div class="quadrat">
                    <div class="quadrat-reduc">
                        <p>Jusqu'à</p>
                        <h2>-30%</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="special-offers-2">
                <div class="quadrat">
                    <div class="quadrat-reduc">
                        <p>Jusqu'à</p>
                        <h2>-30%</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="special-offers-3">
                <div class="quadrat">
                    <div class="quadrat-reduc">
                        <p>Jusqu'à</p>
                        <h2>-30%</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="special-offers-4">
                <div class="quadrat">
                    <div class="quadrat-reduc">
                        <p>Jusqu'à</p>
                        <h2>-30%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>Notre flotte de véhicules</h1>
    <div class="flotte">
        <h3>Compactes & SUV</h3>
        <img class="first" src="assets/a1.svg">
        <img src="assets/golf.svg">
        <img src="assets/taigo.svg">
        <img src="assets/tiguan.svg">
    </div>
    <div class="flotte">
        <h3>Familiales & Luxueuses</h3>
        <img class="first" src="assets/a4-avant.svg">
        <img src="assets/sq7.svg">
        <img src="assets/750-limo.svg">
        <img src="assets/e-cab.svg">
    </div>
    <div class="flotte">
        <h3>Sportives & Exclusives</h3>
        <img class="first" src="assets/taycan.svg">
        <img src="assets/urus.svg">
    </div>
</div>