<div class="home">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div class="container">
                <h2>Où souhaitez-vous aller aujourd'hui ?</h2>
                <div class="container-toogle">
                    <app-image-switcher
                            (autoClicked)="onAutoButtonClick()"
                            (utilitaireClicked)="onUtilitaireButtonClick()"
                    ></app-image-switcher>
                </div>
                <div class="container-search">
                    <form class="row" [formGroup]="searchForm" (ngSubmit)="createReservation()">
                        <div class="col-lg-7">
                            <input class="form-check-input" (change)="ShowOrHideField()" type="checkbox" value="">
                            <p>Station de retour identique</p>
                            <select class="text-input" formControlName="station_departure">
                                <option value="" selected>Station de départ</option>
                                <option *ngFor="let station of stations" [value]="station.id">{{station.name}}</option>
                            </select>
                            <select class="text-input" formControlName="station_arrival" *ngIf="isShowed">
                                <option value="" selected>Station de retour</option>
                                <option *ngFor="let station of stations" [value]="station.id">{{station.name}}</option>
                            </select>
                            <div class="bottom-input">
                                <input class="form-check-input" (change)="ShowOrHide()" type="checkbox" value="">
                                <p>Contrat entreprise négocié</p>
                            </div>
                            <div *ngIf="isDisplayed" class="enterprise-contract">
                                <input type="text" class="text-input">
                                <p>Max. 10 caractères</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <p>Vous avez</p>
                            <select>
                                <option *ngFor="let age of ages" [value]="age">{{age}}</option>
                                <option selected>25+</option>
                            </select>
                            <p>ans</p>
                            <input class="text-input" type="datetime-local" placeholder="Date & Heure" formControlName="date_departure">
                            <input class="text-input" type="datetime-local" placeholder="Date & Heure" formControlName="date_arrival">
                            <div class="bottom-input">
                                <button class="search-button" (click)="createReservation()">Rechercher</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img [src]="homeImageUrl" style="width: 657px;">
        </div>
    </div>
</div>