.home{
    background-color: rgb(20, 45, 119);
    background-image: url(../../../assets/road.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 130px;
    background-size: contain;
}

.container{
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    border-radius: 28px;
}

.container-toogle{
    margin-top: 26px;
    text-align: center;
    border-radius: 14px;
    background-color: rgb(245, 245, 245);
    button{
        background-color: rgb(245, 245, 245);;
        display: inline;
        width: 46%;
        height: 42px;
        margin: 10px;
        border: none;
        border-radius: 10px;
    }
    .button-left{
        background-image: url(../../../assets/aklasse.svg);
        background-repeat: no-repeat;
    }
    .button-right{
        background-image: url(../../../assets/transporter.svg);
        background-position: 100%;
        background-repeat: no-repeat;
    }
    img {
        display: inline;
    }
    .button-left:active{
        background-color: rgb(20, 45, 119);
        color: rgb(255, 255, 255);
        font-weight: 500;
    }
    .button-right:active{
        background-color: rgb(20, 45, 119);
        color: rgb(255, 255, 255);
        font-weight: 500;
    }
}

.container-search{
    margin-top: 26px;
    border-radius: 14px;
    background-color: rgb(245, 245, 245);
    padding: 30px;
    p {
        display: inline;
        margin-left: 4px;
        margin-right: 4px;
    }
    select{
        border: none;
    }
    .text-input{
        border: solid 1px;
        border-color: rgb(134, 134, 134);
        border-radius: 8px;
        margin-top: 12px;
        padding: 8px;
        color: rgb(134, 134, 134);
        width: 98%;
        margin-bottom: 12px;
    }
    .search-button{
        border: none;
        border-radius : 8px;
        background-color: rgb(234, 210, 0);
        padding: 8px 30px 8px 30px ;
        color: rgb(255, 255, 255);
        font-weight: 500;
        width: 100%;
    }
}
.bottom-input {
    margin-top: 12px;
}

h2{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}