<div class="home">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            <div class="container">
                <h2>Connexion</h2>
                <form class="container-search" [formGroup]="loginForm" (ngSubmit)="login()">
                    <h3>ID HappyTrip ou adresse e-mail</h3>   
                    <input class="text-input" type="text" placeholder="my-email@happytrip.com" formControlName="login">
                    <h3>Mot de passe</h3>   
                    <input class="text-input" type="password" placeholder="HappyTrip@" formControlName="password">
                    <div class="bottom-input">
                        <input class="form-check-input" type="checkbox" value="">
                        <p>Mémoriser mes identifiants</p>
                        <div class="bottom-input">
                            <button class="search-button">Se connecter</button>
                        </div>
                    </div>
                </form>
                <div class="sign-in">
                    <p>Pas encore de compte ?</p>
                    <a routerLink="/register">Inscrivez-vous</a>
                </div>     
            </div>
        </div>
        <div class="col-lg-5">
            <img src="assets/troc.svg">
        </div>
    </div>
</div>