<form class="row" [formGroup]="updatePasswordUserForm" (ngSubmit)="updatePassword()">
    <div class="col-lg-6">
        <h3>Ancien mot de passe</h3>
        <input class="text-input" type="password" placeholder="Ancien mot de passe" formControlName="oldPassword">
    </div>
    <div class="col-lg-6">
        <h3>Nouveau mot de passe</h3>
        <input class="text-input" type="password" placeholder="Nouveau mot de passe" formControlName="newPassword">
    </div>
    <div class="col-lg-6">
        <h3>Confirmez le nouveau mot de passe</h3>
        <input class="text-input" type="password" placeholder="Confirmez le nouveau mot de passe" formControlName="confirmNewPassword">
    </div>
    <div class="subscribe">
        <div class="bottom-input">
            <button class="search-button">Mettre à jour le mot de passe</button>
        </div>
    </div>
</form>