<!-- <div class="supplements">
    <div class="row">
        <div class="col-lg-4" *ngFor="let supplement of supplementsList">
            <img [src]="supplement.picture">
            <h2>{{supplement.label}}</h2><br />
            <strong>{{supplement.subLabel}}</strong>
            <div class="texte">
                <p>{{supplement.description}}</p>
            </div>
            <div class="prix">{{supplement.price}} € / Total</div>
            <button appDisableOthers (click)="selectExtras(supplement.id)">Sélectionner</button>
        </div>
    </div>
</div> -->

<!-- <div class="assurances">
    <div class="row">
        <div class="col-lg-4" *ngFor="let assurance of assurancesList">
            <h2>{{assurance.label}}</h2><br />
            <strong>Caution : {{assurance.caution}} €</strong>
            <div class="texte">
                <p>Protections: {{assurance.protections.join(', ')}}</p>
            </div>
            <div class="prix">{{assurance.price}} € / Total</div>
            <button appDisableOthers (click)="selectAssurance(assurance.id)">Sélectionner</button>
        </div>
    </div>
</div>
 -->
 <div id="assuranceGroup" class="container mt-4">
    <div class="row">
      <!-- Loop through each assurance -->
      <div class="col-lg-4 mb-4" *ngFor="let assurance of assurancesList">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{assurance.label}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Caution: {{assurance.caution}} €</h6>
            <p class="card-text">Protections: {{assurance.protections.join(', ')}}</p>
            <div class="text-right">
              <span class="badge badge-primary">{{assurance.price}} €</span>
            </div>
          </div>
          <div class="card-footer">
            <input type="checkbox" 
                   [id]="assurance.id" 
                   (change)="onAssuranceSelected(assurance.id)" 
                   appDisableOtherCheckboxes="#assuranceGroup">
            <label for="{{ assurance.id }}" class="ml-2">Select</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="supplementsGroup" class="container mt-4">
    <div class="row">
      <!-- Loop through each supplement -->
      <div class="col-lg-4 mb-4" *ngFor="let supplement of supplementsList">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{supplement.label}}</h5>
            <p class="card-text">{{supplement.description}}</p>
            <div class="text-right">
              <span class="badge badge-secondary">{{supplement.price}} €</span>
            </div>
          </div>
          <div class="card-footer">
            <input type="checkbox" 
                   [id]="supplement.id" 
                   (change)="onSupplementSelected(supplement.id)" 
                   appDisableOtherCheckboxes="#supplementsGroup">
            <label for="{{ supplement.id }}" class="ml-2">Select</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="text-center mt-4">
    <button class="btn btn-primary" (click)="updateAssurancesAndSupplements()">Update Assurances and Supplements</button>
  </div>
  
  

 <!-- <form [formGroup]="assurancesForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-lg-4" *ngFor="let assurance of assurancesList; let i = index">
            <h2>{{assurance.label}}</h2><br />
            <strong>Caution : {{assurance.caution}} €</strong>
            <div class="texte">
                <p>Protections: {{assurance.protections.join(', ')}}</p>
            </div>
            <div class="prix">{{assurance.price}} € / Total</div>

            <input type="checkbox" [formControlName]="'assurance' + i" appDisableOthers>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
 -->

<p [appHighlight]="color">Highlight me!</p>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->