<div class="global-content">
  <div class="assur-content">
    <div class="row">
      <div class="col-lg-7">
          <h2>Choisissez votre assurance & autres suppléments</h2>
      </div>
      <div class="col-lg-2">
          <h5 class="total">TOTAL</h5>
          <h1>207,80 €</h1>
      </div>
      <div class="col-lg-3">
          <button (click)="goToNextStep()">Terminer la réservation</button>
      </div>
    </div>
    <div class="title-assurance">Assurances
    </div>
    <div class="packages">
      <div id="assuranceGroup" class="container mt-4">
        <div class="row">
          <div class="col-lg-4 mb-4" *ngFor="let assurance of assurancesList">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{assurance.label}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Caution: {{assurance.caution}} €</h6>
                
                  <ul>
                    <li class="include">{{assurance.include[0]}}</li>
                    <li class="include">{{assurance.include[1]}}</li>
                    <li class="include">{{assurance.include[2]}}</li>
                    <li class="include">{{assurance.include[3]}}</li>
                    <li class="include">{{assurance.include[4]}}</li>
                    <li class="include">{{assurance.include[5]}}</li>
                    <li >{{assurance.price}} ,- € </li>
                    
                  </ul> 
              
              
              <div class="card-footer">
                <input type="checkbox" 
                       [id]="assurance.id" 
                       (change)="onAssuranceSelected(assurance.id)" 
                       appDisableOtherCheckboxes="#assuranceGroup">
                <label for="{{ assurance.id }}" class="ml-2"> Sélectionner</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="title-assurance">Suppléments</div>
    <div class="supplements">
      <div id="supplementsGroup" class="container mt-4">
        <div class="row">
          <div class="col-lg-4 mb-4" *ngFor="let supplement of supplementsList">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{supplement.label}}</h5>
                <p class="card-subtitle">{{supplement.subLabel}}</p>
                <p class="card-text">{{supplement.description}}</p>
                <h2 class="card-total">{{supplement.price}} € / Total</h2>
              </div>
              <div class="card-footer">
                <input type="checkbox" 
                       [id]="supplement.id" 
                       (change)="onSupplementSelected(supplement.id)" 
                       appDisableOtherCheckboxes="#supplementsGroup">
                <label for="{{ supplement.id }}" class="ml-2"> Sélectionner</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
