<div class="foot">
    <nav class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <div class="title">Aide & Contact</div>
                    <div class="shortcuts">
                        <a href="http://localhost:4200/aide">Contact</a>
                        <a href="">Bon d'achat ultérieur</a>
                        <a href="">Remboursement</a>
                        <a href="">Personnes avec handicap</a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="title">Réserver en ligne</div>
                    <div class="shortcuts">
                        <a href="">Frais de réservation et conditions</a>
                        <a href="">Pourquoi louer sur le site officiel de HappyTrip</a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="title">HappyTrip et ses partenaires</div>
                    <div class="shortcuts">
                        <a href="http://flyingblue.fr/">Flying Blue</a>
                        <a href="https://www.europcar.fr/fr-fr">Europcar</a>
                        <a href="https://www.efrei.fr">Efrei Paris</a>
                        <a href="">Sites web internationaux</a>
                        <a href="">Programme de fidélité</a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="title">Appli HappyTrip</div>
                    <div class="shortcuts">
                        <img src="assets/apple.svg">
                        <img src="assets/android.svg">
                        <img src="assets/huawei.svg">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="title">Louer dans le monde entier</div>
                    <div class="shortcuts">
                        <a href="">Toutes nos stations</a>
                        <a href="">Trajet Paris - Bordeaux</a>
                        <a href="">Trajet Strasbourg - Nantes</a>
                        <a href="">Trajet Lyon - Marseille</a>
                        <a href="">Trajet Bayonne - Montpellier</a>
                        <a href="">Trajet Lille - Reims</a>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </nav>
</div>