.foot{
    background-color: rgb(20, 45, 119);
    width: 100%;
    padding-bottom: 30px;
    .footer{
        padding-top: 60px;
        width: 100%;
        .title{
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 16px;
            text-decoration: underline;
            text-decoration-color: rgb(255, 0, 0);
            text-underline-offset: 6px;
            margin-bottom: 18px;
        }
        .shortcuts{
            font-size: 14px;
            display: inline;
            margin-right: 6%;
            a{
                display: block;
                margin-bottom: 6px;
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
            img{
                margin-bottom: 12px;
            }:hover{
                cursor: pointer;
            }
        }
    }
}