<div class="reservation-step">
    <div class="row">
        <div class="col-lg-4">
            <div class="step1">
                <div class="step" [ngClass]="{active: currentStep==1}">
                    <div class="row">
                        <div class="col-lg-2">1</div>
                        <div class="col-lg-10">
                            <div class="contain">
                                <h3>STATION DE LOCATION</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h4>DEPART</h4>
                                        <p>{{ stationDepartureName }}</p>
                                        <h5 class="date">{{reservation.date_departure}}</h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <h4>RETOUR</h4>
                                        <p>{{ stationArrivalName }}</p>
                                        <h5 class="date">{{reservation.date_arrival}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="step2">
                <div class="step" [ngClass]="{active: currentStep==2}" (click)="currentStep=2">
                    <div class="row">
                        <div class="col-lg-2">2</div>
                        <div class="col-lg-10">
                            <div class="contain">
                                <h3>VEHICULE</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{ vehicleInformations.long_name ?? '' }}</p>
                                        <h5 class="price"></h5> <!-- TODO gerer le calcul du prix -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="step3">
                <div class="step" [ngClass]="{active: currentStep==3}" (click)="currentStep=3">
                    <div class="row">
                        <div class="col-lg-2">3</div>
                        <div class="col-lg-10">
                            <div class="contain">
                                <h3>EXTRAS</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p>'Basic'</p>
                                        <h5 class="date">Inclus</h5>
                                    </div>
                                    <div class="col-lg-6">
                                        <p>0 EXTRAS</p>
                                        <h5 class="price">0,00 €</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="step4">
                <div class="step" [ngClass]="{active: currentStep==4}" (click)="currentStep=4">
                    <div class="row">
                        <div class="col-lg-2">4</div>
                        <div class="col-lg-10">
                            <div class="contain">
                                <h3>TOTAL</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>PRIX TOTAL</p>
                                        <h5 class="price">207,80 €</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-select-vehicle *ngIf="currentStep == 2" (click)="currentStep=3" [vehicleList]="vehicles" [reservation]="reservation"></app-select-vehicle>
<app-select-extras *ngIf="currentStep == 3" [assurancesList]="assurances" [supplementsList]="supplements" [reservation]="reservation"></app-select-extras>
<app-payement *ngIf="currentStep == 4" [reservation]="reservation"  ></app-payement>
