
<!-- reservation.component.html -->
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let assurance of assurances" class="insurance-option">
    <input type="checkbox" formControlName="insurance" [value]="assurance.id" appDisableOthers [insuranceOptions]="assuranceElements.toArray()">
    <label>
      <strong>{{ assurance.label }}</strong>
      <span class="insurance-info"> - {{ assurance.price }} (Cost: {{ assurance.caution }})</span>
    </label>
  </div>

  <button type="submit">Réserver</button>
</form>
