.reservation-step{
    background-color: rgb(20, 45, 119);
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 2%;
    .step{
        border-radius: 8px;
        padding: 0px;
        background-color: rgb(231, 231, 231);
        border-radius: 8px;
        padding: 8px;
    }
    .active { background-color: rgb(242, 218, 1); }
    .contain{
        background-color: white;
        border-radius: 6px;
    }
}
p{
    padding-left: 6px;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}
h1{
    font-size: 24px;
    font-weight: 600;
    margin-left: 6px;
}
h3{
    color: rgb(20, 45, 119);
    font-weight: 600;
    padding-top: 6px;
    padding-left: 6px;
    font-size: 12px;
}
h4{
    padding-left: 6px;
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: 600;
}
h5{
    width: 100%;
    padding-left: 6px;
    color: rgb(134, 134, 134);
    display: inline;
    font-size: 10px;
}
h2{
    font-size: 22px;
}
.time{
    margin-left: 12px;
}

.step2, .step3, .step4{
    p{
        padding-top: 16px;
    }
}

.global-content {
    background-color: rgb(20, 45, 119);
    padding-left: 6%;
    padding-right: 6%;
    .reservation-content{
        background-color: rgb(255, 255, 255);
        padding: 2%;
        border-radius: 12px;
    }
    .assur-content{
        background-color: rgb(255, 255, 255);
        padding: 2%;
        border-radius: 12px;
    }
    .final-content{
        background-color: rgb(255, 255, 255);
        padding: 2%;
        border-radius: 12px;
    }
    h2{
        margin: 0;
        font-weight: 600;
    }
    .filter{
        p, svg, button {
            display: inline;
            color: rgb(134, 134, 134);
            margin-bottom: 8px;
            margin-top: 24px;
        }
        .vehicle-number{
            margin-right: 18%;
            margin-left: 0;
        }
        svg{
            cursor: pointer;
            margin-left: 4px;
            margin-right: 9%;
            margin-top: 8px;
        }
        .filter-button{
            border-radius: 6px;
            background-color: rgb(20, 45, 119);
            color: rgb(255, 255, 255);
            border: solid 1px;
            border-color: rgb(20, 45, 119);
        }
    }
}
