<div class="profile">
    <div class="row">
        <div class="col-lg-3">
            <div class="container-list">
                <ul>
                    <li [ngClass]="{active: onglet==1}" (click)="onglet=1"><p>Vue d'ensemble</p></li>
                    <li [ngClass]="{active: onglet==2}" (click)="onglet=2"><p>Mes informations personnelles</p></li>
                    <li [ngClass]="{active: onglet==3}" (click)="onglet=3"><p>Mes réservations</p></li>
                    <li [ngClass]="{active: onglet==4}" (click)="onglet=4"><p>Modifier mon mot de passe</p></li>
                    <button (click)="logout()">Se déconnecter</button>
                </ul>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
            <div class="container">
                <div [ngSwitch]="onglet">
                    <div *ngSwitchCase="1">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1>Mon Profil</h1>
                                <p class="name">{{currentUser?.surname}} </p>
                                <p class="name">{{currentUser?.name}}</p>
                                <div class="adress">
                                    <p class="street">112 Avenue des Champs Elysées</p>
                                    <p class="city">75008 PARIS</p>
                                    <p class="country">France</p>
                                </div>
                                <div class="id-conducteur">
                                    <p><strong>ID Conducteur : </strong></p>
                                    <p>{{currentUser?.id}}</p>
                                </div>
                                <div class="email">
                                    <p><strong>E-mail : </strong>
                                    <p>{{currentUser?.login}}</p>
                                </div>
                                <p class="separation"></p>
                                <h1>Mon compte fidélité</h1>
                                <p><strong>HappyTrip Explorer</strong></p>
                                <div class="validity">
                                    <p><strong>Date de fin de validité : </strong></p>
                                    <p>11/02/2025</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/profil.svg">
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="2">
                        <app-form-update-user-infos [user]="currentUser"></app-form-update-user-infos>
                        
                    </div>
                    <div *ngSwitchCase="3">
                        <div *ngIf="userReservations.length > 0; else noReservations">
                            <h1>Mes réservations</h1>
                            <div class="final-row" *ngFor="let reservation of userReservations"> 
                                <h2>N° de réservation : {{reservation.id}}</h2> 
                                <div class="row">
                                    <div class="col-lg-7">
                                        <h2>DEPART</h2>
                                        <h3>{{ stationDepartureName }}</h3>
                                        <p class="subtitle">{{reservation.date_departure}}</p>
                                        <br />
                                        <p>______________</p>
                                        <br />
                                        <h2>RETOUR</h2>
                                        <h3>{{ stationArrivalName }}</h3>
                                        <p class="subtitle">{{reservation.date_arrival}}</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <img src="assets/golf-final.svg"><h2 class="price">{{reservation.final_price || '271.50'}} €</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #noReservations>
                            <p>Aucune réservation antérieure trouvée.</p>
                            <img class="covered-car" src="assets/covered.png">
                        </ng-template>
                    </div>
                    <div *ngSwitchCase="4">
                        <app-form-update-user-password [user]="currentUser"></app-form-update-user-password>
                    </div>
                    <div *ngSwitchDefault>Aucun profil ne correspond, connectez vous !</div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>