<div class="profile">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div class="container">
                <ul>
                    <li [ngClass]="{active: onglet==1}" (click)="onglet=1">Vue d'ensemble</li>
                    <li [ngClass]="{active: onglet==2}" (click)="onglet=2">Mes informations personnelles</li>
                    <li [ngClass]="{active: onglet==3}" (click)="onglet=3">Mes réservations</li>
                    <li [ngClass]="{active: onglet==4}" (click)="onglet=4">Modifier mon mot de passe</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div [ngSwitch]="onglet">
                <div *ngSwitchCase="1">
                    <p><u>Nom</u> : {{currentUser?.name}}</p>
                    <p><u>Prénom</u> : {{currentUser?.surname}}</p>
                    <p><u>Mail</u> : {{currentUser?.login}}</p>
                </div>
                <div *ngSwitchCase="2">
                    <app-form-update-user-infos [user]="currentUser"></app-form-update-user-infos>
                </div>
                <div *ngSwitchCase="3">
                    <div *ngIf="userReservations.length > 0; else noReservations">
                        <div *ngFor="let reservation of userReservations">
                            <p><u>Date départ</u> : {{reservation.date_departure}}</p>
                            <p><u>Date retour</u> : {{reservation.date_arrival}}</p>
                        </div>
                    </div>
                    <ng-template #noReservations>
                        <p>Aucune réservation disponible.</p>
                    </ng-template>
                </div>
                <div *ngSwitchCase="4">
                    <app-form-update-user-password [user]="currentUser"></app-form-update-user-password>
                </div>
                <div *ngSwitchDefault>Aucun profil ne correspond, connectez vous !</div>
            </div>
        </div>
    </div>
</div>